@media screen and (min-width: 1025px) and (max-width: 1440px){
    .titre_sc2{
        margin-left: 0px;
    }
    #hebergements{
        width: 850px;
        height: auto;
    }
    .anonce_hebergements{
        width: 250px;
        height: 240px;
    }
    .img_hebergements{
        height: 145px;
    }
    .img_hebergements_p{
        height: 145px;
    }
    .sc2_bold{
        font-size: 17px;
    }
    .text_sc2{
        font-size: 16px;
    }
    .euro_anonce{
        font-size: 16px;
    }
    .stars{
        font-size: 13px;
    }

/* POPULAIRES */

    #populaires{
        width: 350px;
        height: 700px;
    }
    #div_img_populaires{
        align-items: center;
    }
    .anonce_populaires{
        width: 340px;
        height: 160px;
    }
    .titre_populaires{
        font-size: 17px;
        margin-left: 20px;
        line-height: 20px;
    }
    .img_populaires_p{
        height: 160px;
        width: 150px;
    }
    .img_populaires{
        height: 160px;
        width: 150px;
    }
    .div_text_populaires{
        height: 150px;
        width: 175px;
    }
    .text_populaires{
        font-size: 16px;
        margin-left: 20px;
    }
    .stars_populaires{
        margin-left: 20px;
    }

    #anonce_2{
        margin-bottom: 20px;
    }
    #anonce_5{
        margin-bottom: 20px;
    }
    #anonce_1{
        width:320px;
    }
    #anonce_2{
        width: 320px;
    }
    #anonce_3{
        width:320px;
    }
    #anonce_4{
        width:320px;
    }
    #anonce_5{
        width:320px;
    }
    #anonce_6{
        width:320px;
    }
    #img_activité_p1{
        width: 320px;
    }
    #img_activité1{
        width: 320px;
    }
    #img_activité_p2{
        width: 320px;
    }
    #img_activité2{
        width: 320px;
    }
    #img_activité_p3{
        width: 320px;
    }
    #img_activité3{
        width: 320px;
    }
    #img_activité_p4{
        width: 320px;
    }
    #img_activité4{
        width: 320px;
    }
    #img_activité_p5{
        width: 320px;
    }
    #img_activité5{
        width: 320px;
    }
    #img_activité_p6{
        width: 320px;
    }
    #img_activité6{
        width: 320px;
    }
}