@font-face {
    font-family: 'raleway';
    src: url('raleway/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'raleway-bold';
    src: url('raleway/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'raleway-extrabold';
    src: url('raleway/Raleway-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'raleway-semibold';
    src: url('raleway/Raleway-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
/* -----------------------------------BODY-------------------------------- */
body{
    font-family: 'raleway' , Impact, Haettenschweiler, sans-serif;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#conteneur_body{
    margin-left: 50px;
    margin-right: 50px;
}
h1{
    font-family: 'raleway-extrabold';
}
p{
    font-family: raleway-semibold;
}
/* ----------------------------------HEADER------------------------------ */
#header{
    display: flex;
    height: auto;
    padding-top: 0px;
    margin-right: 35px;
    margin-left: 35px;
    justify-content: space-between;
}
/*----- LOGO -----*/
#logo{
    padding: 15px;
    padding-top: 25px;
    width: 115px;
}
/*----- MENU -----*/
.nav_header{
    width: auto;
    display: flex;
    justify-content: right;
}
#ul_header{
    display: inline-flex;
    list-style: none;
    margin-top: 0px;
}
.li_header{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 45px;
}
.li_header:hover{
    color: #0065FC;
}
#hébergements{
    font-weight: bold;
}
#activité{
    font-family: raleway;
    font-weight: bold;
}
#sinscrire{
    color: #0065FC;
    font-family: raleway-extrabold;
}
.a_header{
    position: relative;
    text-decoration:none;
    color: black;
}
.a_header:hover{
    color:#0065FC;
}
.a_header:after{
    content: '';
    top: 0px;
    width: 0%;
    height: 2px;
    transition: 0.1s;
}
.a_header:hover:after{
    background-color: #0065FC;
    width:100%;
    position: absolute;
    margin-left: 0%;
} 
/* ---------SECTION 1--------- */
#div_sc1{
    border: 1px solid black;
    line-height: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.span_taille{
    font-size: 18px;
}
#form_sc1{
    display: flex;
    height: 50px;
    width: 470px;
    margin-top: 10px;
}
#iconsaisie{
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
}
#icon_sc1{
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    width: 57px;
    height: 100%;
}
#icon_sc1.fas.fa-map-marker-alt::before{
    font-size: 25px;
    display: block;
    margin-left: 30%;
    margin-top: 25%;
}
#saisie_sc1{
    border-radius: 0px 0px 0px 0px;
    border: none;
    font-size: 20px;
    width: 270px;
    height: 100%;
    font-family: raleway-bold;

}
#boutton_sc1{
    font-size: 20px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 10px 10px 0px;
    width: 150px;
    height: 100%;
}
/* ---------SECTION 2--------- */


/* ---------SECTION 3--------- */


/* ---------SECTION 4--------- */